HOST=0.0.0.0
PORT=1337

DATABASE_URL=postgres://bpfriwxgowgxnr:e2bbc10bcdf9ad48d2f47819071856b12bf43c0efe8b23e6cff10661e3b5d7ee@ec2-54-195-246-55.eu-west-1.compute.amazonaws.com:5432/dabf4a2m4aul3q
MY_HEROKU_URL=https://testherokustrapi.herokuapp.com/
